html {
 background-color: #080808;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.container {
 padding: 1rem 5%;
}
@media screen and (min-width:1100px) {
 .image-container {max-width:50%;}
}
#navbar {
 top: 0;
 position: sticky;
 background-color: #000000;
 width: 100%;
 text-align: center;
 display: flex;
}
.header {
 justify-content: center;
 text-align: center;
 background-color: #000000;
 width: 100%;
}
.menbar {
 width: 50%;
 gap: 1.4rem;
 float: left;
 display: flex;
 justify-content: flex-start;
 align-items: center;
}
.socbar {
 width: 50%;
 gap: .175em;
 float: right;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 overflow: hidden;
}
.container .image-container {
 float: left;
}
.container .image-container img {
 width: 100%;
 height: auto;
}
.container .text-container {
 float: left;
 justify-content: center;
 align-items: center;
 text-align: left;
}
.socbar a {
 display: inline-block;
 color: #FFFFFF;
 margin: 0rem 1rem;
}
.socbar a:hover {
 color: #7a766a;
}
#footer {
 background-color: #000000;
 text-align: center;
 width: 100%;
 bottom: 0;
}
